[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "coloraide>=6.2",
    "numpy>=2.4.0",
    "opencv-python-headless>=4.11.0.86",
    "scipy>=1.16.3",
]
